---
title: Mashblock Open
---

<p>A collection of open-source mashups and demos from Mashblock.</p>

<h3>Mashups</h3>
<ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <% link_to  "/nz-baby-names" do %>
        <%= image_tag( "nz-baby-names.png") %>
        <h6>Most Popular Baby Names in NZ</h6>
      <% end %>
      <p>A remix of David McCandless' popular visualisation for New Zealand data.</p>
    </div>
  </li>
</ul>

<h3>Links</h3>
<ul>
  <li><%= link_to "Mashblock on GitHub", "https://github.com/mashblock" %></li>
  <li><%= link_to "Mashblock on Codepen", "http://codepen.io/mashblock" %> (demos coming soon).</li>
  <li><%= link_to "mashblock.co.nz", "http://mashblock.co.nz" %></li>
</ul>
